.main-create-listing {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 340px;
  height: auto;
  max-height: 60%;
  max-width: 700px;
  padding: 10px 30px 10px 30px;
  justify-content: center;
  border-radius: 5px;
}

/* .errors-list { */
/* display: grid;
  grid-template-columns: repeat(3, 1fr); */
/* padding-top: 420px; */
/* height: fit-content;
  width: 100%;
} */

.single-error {
  color: red;
}

.desc-textarea {
  resize: none;
  min-height: 60px;
  min-width: 130px;
}

.number-inputs {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
}

.price-div > label {
  padding-right: 48px;
}

.guest-div > label,
.bedroom-div > label,
.bathroom-div > label {
  padding-right: 5px;
}

.price-div > input,
.guest-div > input,
.bedroom-div > input,
.bathroom-div > input {
  width: 43px;
}

.number-inputs > div > input,
.bathroom-bedroom-input > div > input {
  width: 30px;
}

.bathroom-bedroom-input {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
}

.main-create-listing > label {
  padding: 10px 0px;
}

.guest-div {
  padding-left: 77px;
}

.bathroom-div {
  padding-left: 50px;
}

.button-div {
  display: flex;
  justify-content: center;
}

.submit-listing-button {
  margin: 20px 0px;
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.submit-listing-button:hover {
  background-color: rgb(53, 41, 224);
  color: white;
  cursor: pointer;
}

.city-listing {
  text-transform: capitalize;
}
