.main-create-listing {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 300px;
  height: 100%;
  max-height: 530px;
  padding: 10px 10px 10px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow-y: auto;
  min-height: 100px;
}

.errors-list {
  color: red;
  padding-top: 70px;
  height: fit-content;
}

/* .desc-textarea {
  height: 120px;
  width: 130px;
} */
