/* #footer1 {
  height: 200px;
  background-color: #2f466c;
} */

/* #footer2 {
  height: 60px;
  background-color: #232347;
  display: flex;
  flex-direction: column;
} */

/* #footer-names-all {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
  color: white;
} */

/* #individual-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
} */

/* #links {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 4px 8px;
  color: white;
} */

.footer-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px 10px 0px;
}

.text-footer {
  margin-bottom: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.fa-linkedin {
  margin-left: 25px;
}

.fa-linkedin,
.fa-github {
  color: black;
  font-size: 25px;
}

.fa-linkedin:hover,
.fa-github:hover {
  font-size: 26px;
}
