.listing-div-title {
  display: flex;
  flex-direction: column;
}

.editing-buttons {
  display: flex;
  flex-direction: row;
}

.listing-details-page {
  display: flex;
  flex-direction: column;
  margin: 100px auto 0 auto;
  width: 70%;
}

.reviews-info-div {
  display: flex;
  align-items: baseline;
  width: 100%;
  gap: 200px;
}

.listing-info {
  width: 40%;
}

.review-div {
  width: 60%;
  margin-top: 40px;
}
